<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<img src="\images\zig1.jpg">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/minutes">Meeting Minutes</a></li>
	        		<li><a href="/mission">Our Mission</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/gallery">Gallery</a></li>
				<li><a href="/docs">Docs</a></li>
				<li><a href="/resources">Resources</a></li>
				<li><a href="/calendar">Calendar</a></li>
				<li><a href="/maps">Maps</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			 
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:Zigeunerinnen@gmail.com">email</a></li>
	        		<li><a href="https://github.com/Zigeunerinnen">github.com/Zigeunerinnen</a></li>
				</ul>
			</footer>
		</body>
	</html>
